html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --white-title-color: #ffffff;
  --accent-color: #2196f3;
  --header-text-color: #212121;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-icon-bg-color: rgba(255, 255, 255, 0.1);
  --background-item-color: #f5f4fa;
  --icons-media-color: #afb1b8;
  --icon-black-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--header-text-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h4,
h5,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -----------------------header------------------------- */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-conteiner {
  display: flex;
  align-items: center;
}

.link.current {
  color: var(--accent-color);
}

.nav-menu {
  display: flex;
}

.nav-menu-item:not(:last-child) {
  margin-right: 50px;
}

.logo-header {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.logo-item {
  color: #2196f3;
}

.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current.menu-link::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -31.4px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.auth-menu {
  display: flex;
  margin-left: auto;
}

.auth-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-tel {
  margin-left: 50px;
}

.auth-link:hover,
.auth-link:focus {
  color: var(--accent-color);
}

.auth-link-icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* --------------------hero----------------------- */

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-conteiner {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-title-color);
  width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  display: block;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-title-color);
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border-style: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* --------------------features----------------------- */

.features-bg {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: var(--background-item-color);
  margin-bottom: 30px;
}

.features {
  padding-top: 94px;
}

.features-menu {
  display: flex;
  justify-content: space-between;
}

.features-item {
  width: 270px;
}

.features-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* --------------------activity----------------------- */

.activity-title {
  display: block;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.activity-menu {
  display: flex;
  justify-content: space-between;
}

.activity-item {
  position: relative;
}

.activity-label {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
}

.activity-text {
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-title-color);
  padding-top: 27px;
  padding-bottom: 27px;
}

.activity-img {
  display: block;
}

/* --------------------team----------------------- */

.team {
  background-color: var(--background-item-color);
  margin-left: auto;
  margin-right: auto;
}

.team-title {
  display: block;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.team-menu {
  display: flex;
  justify-content: space-between;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-block {
  padding-top: 30px;
  padding-bottom: 16px;
}

.name-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  text-align: center;
  margin-bottom: 10px;
}

.name-text {
  display: block;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}

.team-social-menu {
  display: flex;
  padding: 0px 32px 30px 32px;
  justify-content: space-between;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-title-color);
  color: var(--icons-media-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-title-color);
}

.team-social-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  fill: currentColor;
}

/* --------------------clients----------------------- */

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-bottom: 50px;
}

.clients-menu {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-media-color);
  color: var(--icons-media-color);
  border-radius: 4px;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  fill: currentColor;
}

/* -------------------portfolio---------------------- */

.portfolio-btn-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.potfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-img-menu {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.potfolio-img-block {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-img-item {
  margin: 15px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.portfolio-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: var(--background-item-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card:hover .portfolio-overlay,
.portfolio-card:focus .portfolio-overlay {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}

.portfolio-img {
  display: block;
}

.portfolio-card-block {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-title-color);
}

.portfolio-img-title {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  margin-bottom: 4px;
}

.portfolio-img-text {
  display: block;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* --------------------footer----------------------- */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.footer-block {
  display: flex;
}

.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-title-color);
  margin-top: 20px;
}

.footer-web {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  margin-top: 9px;
  margin-bottom: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-web:hover,
.footer-web:focus {
  color: var(--accent-color);
}

.footer-tel {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-social {
  width: 206px;
  margin: 12px auto 40px 70px;
}

.footer-social-text,
.footer-sign-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-title-color);
  margin-bottom: 20px;
}

.footer-social-menu {
  display: flex;
  justify-content: space-between;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon-bg-color);
  color: var(--white-title-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  fill: currentColor;
}

.footer-sign-text {
  margin-top: 12px;
}

.footer-sign-form {
  display: flex;
}

.footer-sign-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 0 0 16px;
  background-color: inherit;
  width: 358px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-sign-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer-sign-button {
  display: flex;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 0;
  color: var(--white-title-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: 12px;
}

.footer-sign-form-icon {
  margin-left: 10px;
  fill: var(--white-title-color);
}

/* --------------------backdrop----------------------- */

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: var(--white-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-btn {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-bottom: 12px;
}

.modal-form-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form-field {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  fill: var(--header-text-color);
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  outline: none;
  fill: var(--accent-color);
}

.modal-form-accept {
  margin-bottom: 40px;
}

.modal-accept-input {
}

.modal-accept-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-accept-label::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  border: solid 2px #212121;
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-accept-input:checked + .modal-accept-label::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/check-icon.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-accept-input:focus + .modal-accept-label::before {
  border: 2px solid var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  widows: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal-accept-link {
  color: var(--accent-color);
  margin-left: 0.3rem;
}

.modal-form-btn {
  align-self: center;
  border: none;
  height: 50px;
  min-width: 200px;
  cursor: pointer;
  padding: 10px 50px 10px 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
