//team

.team-social-menu {
  display: flex;
  padding: 0px 32px 30px 32px;
  justify-content: space-between;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-title-color);
  color: var(--icons-media-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-title-color);
}

.team-social-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  fill: currentColor;
}

//footer

.footer-social-menu {
  display: flex;
  justify-content: space-between;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon-bg-color);
  color: var(--white-title-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  fill: currentColor;
}